@media (max-width: 1310px) {
    /*    .news .next {
        right: -45px;
    }
    .news .prev {
        left: -45px;
    }*/
    /*
    .bolo .prev {
        left: 50px;
        background-image: url(../images/banner/seta-esquerda.png);
    }

    .bolo .next {
        right: 50px;
        background-image: url(../images/banner/seta-direita.png);
    }

    .bolo .prev, 
    .bolo .next {  
        opacity: 0.5;
        filter:alpha(opacity=50);
        margin-top: -90px;
    }

    .bolo .prev:hover, 
    .bolo .next:hover {  
        opacity: 1;
        filter:alpha(opacity=100);
    }*/
}

@media (max-width: 1251px) {
    /*    .news .next,
    .news .prev {
        display: none;
    }*/
}

@media (max-width: 1200px) {
    .carousel-search a,
    .search a,
    .form-combo a {
        margin-left: 325px;
    }
    .navbar-white.navbar-default .navbar-nav>li>a {
        font-size: 12px;
    }
    #seja-um-franqueado .itens .item {
        width: 130px;
        height: 130px;
    }
    #seja-um-franqueado .itens .item .fa {
        font-size: 60px;
        line-height: 130px;
    }
    #seja-um-franqueado .itens .item + div span {
        font-size: 18px;
    }
    #seja-um-franqueado .itens .item + div {
        margin-top: 15px;
    }
    .franqueado-nossa-historia .numero-de-lojas {
        width: 208px;
        height: 134px;
    }
    .franqueado-nossa-historia .numero-de-lojas + .luva {
        margin: 20px 23px;
    }
    .tag-circle {
        width: 212px;
        height: 212px;
    }
    .tag-circle .bottom span {
        font-size: 14px;
    }
    .tag-circle .top span:nth-child(1) {
        font-size: 68px;
    }
    .tag-circle .top span:nth-child(2) {
        font-size: 22px;
    }
    .navbar-top-text {
        width: calc(50% + 153px);
        -webkit-width: calc(50% + 153px);
        -moz-width: calc(50% + 153px);
        -ms-width: calc(50% + 153px);
        -o-width: calc(50% + 153px);
    }
    .navbar-white .navbar-top-text {
        width: calc(50% + 88px);
        -webkit-width: calc(50% + 88px);
        -moz-width: calc(50% + 88px);
        -ms-width: calc(50% + 88px);
        -o-width: calc(50% + 88px);    
    }
}

@media (max-width: 1145px) {
    /*    .news .next,
    .bolo .next,
    .news .prev,
    .bolo .prev {
        display: none;
    }*/
    .franqueado-vantagens p {
        font-size: 17px;
    }
}

@media (max-width: 1024px){
    .tag-bolo span,
    .tag-bolo:before,
    .tag-bolo:after {
        display: none;
    }
    .tag-bolo {
        position: relative;
        display: inline-block;
        height: inherit;
        background-color: inherit;
        margin-bottom: inherit;
    }
    .tag-bolo p {
        white-space: inherit;
        line-height: 60px;
    }


    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        /*margin: 7.5px -15px;*/
        margin: 0;
    }
    .navbar-nav .open .dropdown-menu {
        margin: 0 !important;
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-nav>li.dropdown.open {
    background-color: #c61119;
}
.navbar-nav .open .dropdown-menu > li > a, .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px;
}
.navbar .dropdown-menu>li>a {
    min-height: 80px;
}
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }

.navbar-header {
    padding-top: 27px;
}

.navbar-toggle {
    top: -11px;
}

.navbar-top-bg {
    transform: inherit !important;
    transform-origin: inherit !important;
}

.navbar-top-text {
    left: 0 !important;
}

.navbar-brand>img {
    width: 150px !important;
}

.franqueado-investimento .box-investimento {
    font-size: 16px;
}

.navbar-top-text,
.navbar-white .navbar-top-text {
        width: 100%;
    }

}

@media (max-width: 992px) {
/*    .tag-bolo p {
        width: 540px;
    }*/

    .tabela-nutricional h2 {
        font-size: 12px !important;
    }
    #banner .carousel-text p {
        font-size: 24px;
    }
    .carousel-indicators li,
    .carousel-indicators .active {
        width: 20px;
        height: 20px;
    }
    .carousel-search a,
    .search a,
    .form-combo a {
        margin: 5px 0;
        display: block;
        text-align: center;
    }
    .franqueado-nossa-historia h2,
    .franqueado-vantagens h2,
    .franqueado-investimento h2,
    .franqueado-area-de-interesse h2,
    #seja-um-franqueado h2 {
        font-size: 114px;
    }
    .franqueado-nossa-historia .numero-lojas {
        margin-bottom: 50px;
    }
    .depo>div:first-child {
        width: 80px;
    }
    .navbar-white.navbar-default .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 23px;
        margin-top: 13px;
        font-size: 10px;
    }
    .navbar-white .navbar-top-text a:last-child {
        margin-left: 65px;
    }
    #seja-um-franqueado .itens .item {
        width: 95px;
        height: 95px;
    }
    #seja-um-franqueado .itens .item .fa {
        font-size: 45px;
        line-height: 95px;
    }
    #seja-um-franqueado .itens .item .fa.fa-arrow-circle-down {
        font-size: 20px;
        line-height: 20px;
    }
    #seja-um-franqueado .itens .item + div span {
        font-size: 13px;
    }
    #seja-um-franqueado .itens .item + div {
        margin-top: 0;
    }
    .franqueado-nossa-historia .numero-de-lojas + .luva {
        display: none;
    }
    .franqueado-nossa-historia .numero-de-lojas {
        width: 190px;
        height: 122px;
        margin: 0 6px 20px;
    }
    .franqueado-nossa-historia .numero-de-lojas span {
        font-size: 17px;
        line-height: 17px;
    }
    .franqueado-nossa-historia .numero-de-lojas span:nth-child(2) {
        font-size: 45px;
        line-height: 45px;
    }

    .navbar-fixed-top {
        position: inherit;
    }

    .navbar-right .dropdown-menu {
        position: inherit;
        margin: 0;
        padding: 0;
        float: none;
        left: inherit;
        right: inherit;
        top: inherit;
        bottom: inherit;
    }

    .container>.navbar-collapse {
        max-height: inherit;
    }

    .onde-encontrar, .lojas {
        margin-top: 0;
    }


}

@media (max-width: 782px) {
    .lojas {
        /*margin-top: 41px;*/
    }
    #banner .carousel-text p {
        font-size: 16px;
    }
    .franqueado-area-de-interesse .bottom p {
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;
        color: #ffffff;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100% !important; 
    }
    .navbar-brand {
        padding: 2px 15px;
    }
    .banner {
        padding-top: 140px;
        min-height: 272px;
    }
    .banner h2 {
        font-size: 78px;
    }
    .banner p {
        font-size: 18px;
    }
/*    .tag-bolo p {
        width: 330px;
    }
    .tag-bolo p {
        font-size: 40px;
        height: 50px;
    }*/
    .tabela-nutricional {
        margin-top: 30px;
    }
    .form-combo .form-search .btn {
        font-size: 14px;
        padding: 8px 20px;
    }
    .form-combo .form-search.form-inline .input-group>.form-control {
        height: 40px;
        width: 320px;
    }
    .lojas h2 {
        font-size: 60px;
    }
    .lojas {
        /*margin-top: 31px;*/
    }
    .carousel-text h2,
    .banner h2 {
        font-size: 50px;
    }
    .carousel-text {
        padding-top: 130px;
    }
    .carousel-search .form-search .btn,
    .form-combo .btn {
        padding: 7px;
    }
    .carousel-indicators-container {
        bottom: 140px;
    }
    .onde-encontrar,
    .lojas {
        /*margin-top: 77px;*/
    }
    .box-info img {
        margin-right: 10px;
    }
    .franqueado-nossa-historia h2,
    .franqueado-vantagens h2,
    .franqueado-investimento h2,
    .franqueado-area-de-interesse h2,
    #seja-um-franqueado h2 {
        font-size: 86px;
    }
    .depoimentos {
        height: auto;
    }
    .depo>div:first-child {
        width: 100%;
    }
    .depoimentos img {
        display: block;
        margin: 0 auto;
    }
    .depo>div:last-child {
        width: 100%;
        margin-left: 0;
        text-align: center;
        margin-bottom: 50px;
    }
    .franqueado-vantagens p {
        font-size: 17px;
    }
   /* #seja-um-franqueado .itens .col-sm-2 {
        width: 50%;
        float: left;
    }*/
    #seja-um-franqueado .itens .item {
        width: 143px;
        height: 143px;
    }
    #seja-um-franqueado .itens .item .fa {
        font-size: 60px;
        line-height: 143px;
    }
    #seja-um-franqueado .itens .item + div span {
        font-size: 17px;
    }
    #seja-um-franqueado .itens .item + div {
        margin-top: 0;
    }
    #seja-um-franqueado h3 {
        font-size: 36px;
    }
    .quero-ser-um-franqueado p {
        margin-bottom: 20px;
    }
    .franqueado-nossa-historia .foto {
        width: 100%;
    }
    .franqueado-vantagens .foto {
        margin: 0 auto;
        display: block;
    }
    .franqueado-vantagens {
        padding-bottom: 50px;
    }
    .franqueado-vantagens .tag {
        width: 46%;
        float: left;
        margin: 2%;
    }
    .franqueado-investimento .tag {
        width: 44%;
    }
    .navbar-top-text .container-top {
        width: 520px;
        margin: 0 auto;
    }
    .navbar-top-text a {
        left: 15px;
    }
    .navbar-toggle {
        margin-right: 0;
    }
    .franqueado-nossa-historia .numero-de-lojas {
        margin: 0 22px 20px;
    }

    .tag-bolo p {
        font-size: 42px;
        line-height: 42px;
    }

.col-list-map,
.onde-encontrar .col-list-map ul, {
    height: auto !important;
    overflow: auto !important;
}

.col-list-map>.panel {
    display: none;
}


.onde-encontrar .list-shadow {
    margin-top: 20px;
}

.onde-encontrar .col-list-map ul {
    min-height: 254px;
}

}

@media (max-width: 539px) {
    .container {
        width: 440px;
    }
    footer>div:last-child a {
        float: left;
        margin-top: 15px;
    }
    footer label span {
        width: 163px;
        float: left;
        line-height: 19px;
        text-indent: 0;
        margin-left: 15px;
    }
    .banner h2 {
        font-size: 50px;
    }
    .banner p {
        font-size: 14px;
    }
    .news.interna .back,
    .interna.bolo .back {
        font-size: 16px;
    }
/*    .tag-bolo p {
        width: 120px;
        padding: 0;
        font-size: 18px;
        height: 22px;
    }
    .tag-bolo {
        height: 62px;
    }
    .tag-bolo:before,
    .tag-bolo:after {
        width: 28px;
        height: 62px;
        background-size: cover;
    }
    .tag-bolo span:nth-child(1),
    .tag-bolo span:nth-child(5) {
        height: 2px;
    }
    .tag-bolo span:nth-child(2) {
        top: 6px;
        height: 1px;
    }
    .tag-bolo span:nth-child(4) {
        bottom: 6px;
        height: 1px;
    }*/
    .bolo.interna .box-info h2 {
        font-size: 18px;
        line-height: 24px;
    }
    .tabela-nutricional h2 {
        line-height: 16px !important;
    }
    .form-combo .form-search label {
        font-size: 14px;
    }
    .form-combo .form-search.form-inline .input-group>.form-control {
        width: 110px;
    }
    .form-combo .form-search .btn {
        padding: 8px;
    }
    .form-combo a {
        display: none;
    }
    .lojas h2 {
        font-size: 35px;
    }
    .carousel-text h2,
    .banner h2 {
        font-size: 30px;
    }
    #banner .carousel-text p {
        font-size: 14px;
    }
    .onde-encontrar .raio {
        font-size: 14px;
    }
    .banner {
        min-height: 237px;
    }
    .franqueado-nossa-historia h2,
    .franqueado-vantagens h2,
    .franqueado-investimento h2,
    .franqueado-area-de-interesse h2,
    #seja-um-franqueado h2 {
        font-size: 60px;
    }
    .franqueado-vantagens .box-vantagens {
        width: 50%;
    }
    .franqueado-vantagens .box-vantagens:nth-child(4) {
        clear: inherit;
    }
    .franqueado-vantagens .box-vantagens {
        padding: 15px 0;
    }
    .franqueado-vantagens .box-vantagens:nth-child(3):before,
    .franqueado-vantagens .box-vantagens:nth-child(4):before,
    .franqueado-vantagens .box-vantagens:nth-child(5):before,
    .franqueado-vantagens .box-vantagens:nth-child(6):before,
    .franqueado-vantagens .box-vantagens:nth-child(7):before,
    .franqueado-vantagens .box-vantagens:nth-child(8):before {
        content: "";
        display: block;
        width: 100px;
        height: 1px;
        background-color: #e3a66c;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -50px;
    }
    .franqueado-vantagens .box-vantagens:nth-child(1):after,
    .franqueado-vantagens .box-vantagens:nth-child(2):after,
    .franqueado-vantagens .box-vantagens:nth-child(4):after,
    .franqueado-vantagens .box-vantagens:nth-child(5):after,
    .franqueado-vantagens .box-vantagens:nth-child(7):after {
        display: none;
    }
    .franqueado-vantagens .box-vantagens:nth-child(1):after,
    .franqueado-vantagens .box-vantagens:nth-child(3):after,
    .franqueado-vantagens .box-vantagens:nth-child(5):after,
    .franqueado-vantagens .box-vantagens:nth-child(7):after {
        content: "";
        display: block;
        width: 1px;
        height: 100px;
        background-color: #e3a66c;
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -50px;
    }
    .franqueado-vantagens p {
        font-size: 12px;
    }
    .franqueado-vantagens .tag:first-child {
        margin-left: inherit;
    }
    .franqueado-investimento .box-investimento {
        width: 100%;
        float: none;
    }
    .navbar-default .navbar-top-text {
        min-height: 32px;
    }
    .navbar-default .navbar-top-text a {
        display: block;
    }
    .navbar-white .navbar-top-text a:last-child {
        margin-left: 0;
    }
    #seja-um-franqueado .itens .item {
        width: 116px;
        height: 116px;
    }
    #seja-um-franqueado .itens .item .fa {
        font-size: 50px;
        line-height: 116px;
    }
    #seja-um-franqueado .itens .item + div span {
        font-size: 14px;
    }
    #seja-um-franqueado .itens .item + div {
        margin-top: 0;
    }
    .franqueado-vantagens h3,
    #seja-um-franqueado h3,
    .franqueado-vantagens h4 {
        font-size: 24px;
    }
    .franqueado-nossa-historia .numero-de-lojas {
        margin: 30px auto;
        float: none;
    }
    .tag-circle {
        width: 190px;
        height: 190px;
    }
    .tag-circle .bottom span {
        font-size: 12px;
    }
    .tag-circle .top span:nth-child(2) {
        font-size: 18px;
    }
    .tag-circle .top span:nth-child(1) {
        font-size: 60px;
        line-height: 56px;
    }
}

@media (max-width: 440px) {
    .container {
        width: 380px;
    }
    .franqueado-vantagens p {
        font-size: 12px;
        line-height: 15px;
    }
    .tag-circle {
        width: 160px;
        height: 160px;
    }
    .tag-circle .top>div,
    .tag-circle .bottom>div {
        padding: 25px;
    }
    .tag-circle .bottom span {
        font-size: 11px;
        display: inline-block;
    }
    .tag-circle .top span:nth-child(2) {
        font-size: 16px;
    }
    .tag-circle .top span:nth-child(1) {
        font-size: 44px;
        line-height: 41px;
    }

.tag-bolo p {
    font-size: 36px;
    line-height: 36px;
        margin-bottom: 20px;
}

}

@media (max-width: 380px) {
    .container {
        width: 300px;
    }
    #seja-um-franqueado .itens .col-sm-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
    #seja-um-franqueado .itens .item {
        width: 96px;
        height: 96px;
    }
    #seja-um-franqueado .itens .item .fa {
        font-size: 40px;
        line-height: 96px;
    }
    #seja-um-franqueado .itens .item + div span {
        font-size: 11px;
    }
    #seja-um-franqueado .itens .item + div {
        margin-top: 0;
    }
    #seja-um-franqueado .itens .item + div {
        min-height: 55px;
    }
    .tag-circle {
        width: 130px;
        height: 130px;
    }
    .tag-circle .top>div,
    .tag-circle .bottom>div {
        padding: 25px;
    }
    .tag-circle .bottom span {
        font-size: 9px;
        line-height: 12px;
        display: inline-block;
    }
    .tag-circle .top span:nth-child(2) {
        font-size: 12px;
        display: inline-block;
        line-height: 12px;
    }
    .tag-circle .top span:nth-child(1) {
        font-size: 34px;
        line-height: 34px;
        display: inline-block;
    }
}

@media (min-width: 540px) {
    /*GRID*/
    .container {
        width: 520px;
    }
    /*HOME*/
    .home-nossos-bolos .box-text-content div {
        padding: 30px;
    }
    .home-nossos-bolos .box-text-content h3 {
        font-size: 40px;
    }
    .home-nossos-bolos .box-text-content p {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 767px) {
    /*NAVBAR*/
    .navbar-top-text {
        left: 0 !important;
    }
    /*FOOTER*/
    footer .form-search label {
        width: 100%;
        top: 0;
        text-indent: 10px;
        line-height: 50px;
    }
    footer .form-search.form-inline .input-group.name {
        display: block;
        margin-bottom: 20px;
        margin-bottom: 45px;
    }
    /*NOVIDADES*/
    .home-novidades .carousel>.carousel-inner>.item>.row>[class*="col-"] .text {
        width: 100% !important;
        margin-bottom: 30px;
        margin-left: 0 !important;
    }
    .home-novidades .carousel>.carousel-inner>.item>.row>[class*="col-"] img {
        float: none !important;
        margin-bottom: 0;
    }
    /*SEJA UM FRANQUEADO*/
    .home-seja-um-franqueado .item {
        margin-top: 0;
    }
    .home-seja-um-franqueado .vo-alzira {
        margin: 30px auto;
    }
    .home-seja-um-franqueado .btn {
        width: 100%;
    }
    /*MAP*/
    .onde-encontrar.col-list-map,
    .onde-encontrar.col-list-map ul {
        height: auto !important;
        overflow: visible !important;
    }
    .onde-encontrar .col-map {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        visibility: hidden;
    }
    .onde-encontrar #map {
        width: 1000px !important;
        height: 1000px !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
    }
}

@media (min-width: 768px) {
    /*GRID*/
    .container {
        width: 750px;
    }
    /*NAVBAR*/
    .navbar-default .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 23px;
        margin-top: 13px;
        font-size: 10px;
    }
    .navbar-brand>img {
        width: 150px;
        margin-top: -22px;
    }
    .navbar-top-bg {
        transform: skewX(36.6deg);
        transform-origin: 0px 0px 0px;
    }
    /*FOOTER*/
    footer .form-search.form-inline .input-group.name>.form-control {
        width: 189px;
    }
    footer .form-search.form-inline .input-group.email>.form-control {
        margin-left: 20px;
        width: 165px;
    }
    footer .form-search .btn {
        padding: 15px 20px;
    }
    /*BANNER*/
    #banner .carousel-inner>.item {
        height: 394px;
    }
    #banner .carousel-text h2,
    .banner h2 {
        font-size: 77px;
    }
    #banner .carousel-control img {
        width: 35px;
    }
    #banner .carousel-text {
        padding-top: 225px;
    }
    #banner .carousel-indicators {
        bottom: 80px;
        right: 0;
    }
    /*SEARCH*/
    .form-search label {
        font-size: 20px;
    }
    .form-search.form-inline .input-group>.form-control {
        font-size: 18px;
        width: 368px;
        height: 52px;
    }
    .form-search .btn {
        padding: 15px 48px;
    }
}

@media (min-width: 992px) {
    /*GRID*/
    .container {
        width: 970px;
    }
    /*NAVBAR*/
    .navbar-default .navbar-nav>li>a {
        font-size: 14px;
    }
    .navbar-brand>img {
        width: auto;
    }
    /*FOOTER*/
    footer .form-search.form-inline .input-group.name>.form-control {
        width: 285px;
    }
    footer .form-search.form-inline .input-group.email>.form-control {
        margin-left: 20px;
        width: 233px;
    }
    footer .form-search .btn {
        padding: 14px 48px;
    }
    /*BANNER*/
    #banner .carousel-inner>.item {
        height: 600px;
    }
    #banner .carousel-text h2,
    .banner h2 {
        font-size: 88px;
    }
    #banner .carousel-text p {
        font-size: 28px;
    }
    #banner .carousel-control.right,
    #banner .carousel-control.left {
        display: block;
    }
    #banner .carousel-control img {
        width: auto;
    }
    #banner .carousel-search {
        padding: 20px;
    }
    .carousel-indicators li {
        width: 20px;
        height: 20px;
        margin: 0;
    }
    .carousel-indicators .active {
        width: 20px;
        height: 20px;
    }
}

@media (min-width: 1200px) {
    /*GRID*/
    .container {
        width: 1140px;
    }
    /*FOOTER*/
    footer .form-search.form-inline .input-group.name>.form-control {
        width: 295px;
    }
    footer .form-search.form-inline .input-group.email>.form-control {
        margin-left: 20px;
        width: 233px;
    }
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .tabela-nutricional {
        margin-top: 0;
    } 

.carousel-search .form-search .btn, .form-combo .btn {
    padding: 15px 48px 13px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

}