
* {
    outline: none !important;
}

html {
    margin-top: 0 !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.transition {
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.center {
    margin: 0 auto;
}

.img {
    width: 100%;
    height: auto;
}


/*FONT*/

.text-light {
    font-weight: 300;
}

.text-normal {
    font-weight: 400;
}

.text-semi-bold {
    font-weight: 600;
}

.text-bold {
    font-weight: 700;
}

.text-extra-bold {
    font-weight: 800;
}

.size-8 {
    font-size: 8px;
}

.size-10 {
    font-size: 10px;
}

.size-12 {
    font-size: 12px;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-20 {
    font-size: 20px;
}

.size-22 {
    font-size: 22px;
}

.size-24 {
    font-size: 24px;
}

.size-26 {
    font-size: 26px;
}

.size-28 {
    font-size: 28px;
}

.size-30 {
    font-size: 30px;
}


/*COLOR*/

.color-ffffff {
    color: #ffffff;
}

.color-000000 {
    color: #000000;
}


/*BACKGROUND-COLOR*/

.bg-feead1 {
    background-color: #feead1;
}


/*GRID*/

.container {
    width: 275px;
}


/*BUTTON*/

.btn {
    border-radius: 3px;
    border-width: 2px;
    font-weight: 600;
    padding: 12px 12px;
}

.btn-danger {
    background-color: #97161b;
    border-color: #97161b;
}

.btn-danger:hover {
    background-color: #6d1014;
    border-color: #6d1014;
}

.btn-danger2 {
    background-color: #ee1c25;
    color: #fff;
    border-color: #ee1c25;
}

.btn-danger2:hover {
    background-color: #97161b;
    border-color: #97161b;
}

.btn-warning {
    background-color: #ffba25;
    border-color: #ffba25;
}

.btn-warning:hover,
.btn-warning.focus,
.btn-warning:focus,
.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open>.dropdown-toggle.btn-warning.focus,
.open>.dropdown-toggle.btn-warning:focus,
.open>.dropdown-toggle.btn-warning:hover {
    background-color: #dca01e;
    border-color: #dca01e;
}


/*FORM*/

.form-control {
    height: 44px;
    border-color: #dadada;
    border-radius: 0;
    color: #000000;
    font-size: 14px;
}

.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-group-icon {
    position: relative;
}

.form-group-icon .form-control {
    padding-left: 44px;
}

.icon-img {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    display: inline-block;
}

.icon-img.icon-user {
    background-image: url(../images/icon/user.png);
}

.icon-img.icon-email {
    background-image: url(../images/icon/email.png);
}

.icon-img.icon-dialog {
    background-image: url(../images/icon/dialog.png);
}

.icon-img.icon-edit {
    background-image: url(../images/icon/edit.png);
}


/*FORM BOX*/

.form-box {
    background-color: #c61119;
    padding: 18px 16px 13px;
}

.form-box .btn-group.bootstrap-select.form-control {
    border-radius: 3px;
    background-color: transparent;
}

.form-box .btn.dropdown-toggle.btn-default {
    padding: 12px 12px;
    background-color: #ee1e26;
    border-color: #ee1e26;
    border-radius: 3px;
    font-size: 18px;
    color: #fff;
}


/*SLIDER*/

.slider.slider-horizontal .slider-track {
    background-repeat: none;
    filter: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 13px;
    border-radius: 6px;
}

.slider .slider-track {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efebeb+0,e0e0e0+100 */
    background: #efebeb;
    /* Old browsers */
    background: -moz-linear-gradient(top, #efebeb 0%, #e0e0e0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #efebeb 0%, #e0e0e0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #efebeb 0%, #e0e0e0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#efebeb', endColorstr='#e0e0e0', GradientType=0);
    /* IE6-9 */
}

.slider-handle {
    top: -1px;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: 1px solid #dcdcdc;
}

.slider-selection {
    background: #ee1e26;
    border-radius: 6px;
}


/*NAVBAR*/


/*header {position: fixed; top: 0; left: 0; width: 100%; height: 65px;}*/

.nav>li>a {
    padding: 10px 10px;
}

.navbar {
    border: inherit;
    border-radius: inherit;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #ee1e26;
}

.navbar-brand>img {
    width: 145px;
    margin-top: -8px;
}

.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.5);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 1);
}

.navbar-top {
    height: 27px;
    width: 100%;
    overflow: hidden;
}

.navbar-top-text {
    position: absolute;
    right: 0;
    width: 100%;
    height: 27px;
    width: calc(50% + 68px);
    -webkit-width: calc(50% + 68px);
    -moz-width: calc(50% + 68px);
    -ms-width: calc(50% + 68px);
    -o-width: calc(50% + 68px);
    overflow: hidden;
}

.navbar-white .navbar-top-text {
    width: calc(50% + 80px);
    -webkit-width: calc(50% + 80px);
    -moz-width: calc(50% + 80px);
    -ms-width: calc(50% + 80px);
    -o-width: calc(50% + 80px);    
}

.navbar-top-bg {
    background-color: #c61119;
    position: absolute;
    width: 100%;
    height: 100%;
}

.navbar-top-text a {
    position: relative;
    left: 20px;
    top: 2px;
    z-index: 1;
    font-size: 10px;
    color: #ffffff;
    text-transform: uppercase;
}

.navbar-top-text a:hover {
    text-decoration: none;
    color: #fff;
}

.navbar-white .navbar-top-text a:last-child {
    margin-left: 80px;
}

.navbar-top .nav-right {
    float: right;
    position: relative;
}

.navbar-top .nav-right a {
    margin-right: 16px;
    color: #fff;
    text-decoration: none !important;
    color: #fff;
    text-decoration: none !important;
    position: relative;
    top: 4px;
    font-size: 18px;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse {
    border: none;
}

.navbar-right .dropdown-menu {
    right: inherit;
    margin-top: -13px !important;
    border: none;
    border-top-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #97161b;
    min-width: 340px;
}

.navbar .dropdown-menu>li>a {
    padding: 15px 10px;
    background-color: transparent !important;
    min-height: 89px;
}

.navbar .dropdown-menu>li>a>img {
    float: left;
}

.navbar .dropdown-menu>li>a>div {
    float: left;
    width: 225px;
    padding: 0 10px;
    color: #fff;
    font-size: 10px;
    white-space: initial;
}

.navbar .dropdown-menu>li:hover div span {
    text-decoration: underline;
}

.navbar .dropdown-menu>li>a>div b {
    font-weight: 600;
    font-size: 16px;
    display: block;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

@media (min-width: 1025px){
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:focus,
    .navbar-default .navbar-nav>.open>a:hover,
    .nav>li.dropdown:hover>a {
        background-color: #97161b;
        color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
}


/*NAVBAR WHITE*/

.navbar-white {
    background-color: #fff;
}

.navbar-white .navbar-top-bg {
    background-color: #c51118;
}

.navbar-white.navbar-default .navbar-nav>li>a {
    color: #c51118;
}

.navbar-white.navbar-default .navbar-nav>li.active>a {
    font-weight: 700;
}

.navbar-white.navbar-default .navbar-toggle .icon-bar {
    background-color: #c51118;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: rgba(255, 255, 255, 0.5);
}


/*BANNER*/

.carousel-inner>.item {
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 320px;
    max-height: 100%;
}

.carousel-control.right,
.carousel-control.left {
    background: none;
    display: none;
}

.carousel-control img {
    width: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.carousel-indicators-container {
    position: absolute;
    bottom: 80px;
    width: 100%;
}

.carousel .container {
    position: relative;
}

.carousel-indicators {
    width: auto;
    margin-left: 0;
    left: inherit;
    right: 15px;
    bottom: 0;
}

.carousel-indicators li {
    border: none;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    background-color: #ee1e26;
}

.carousel-text {
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
    text-align: center;
    padding-top: 120px;
}

.carousel-text h2 {
    font-family: 'Alex Brush', cursive;
    margin-top: 0;
    font-size: 30px;
    color: #ffffff;
    margin-top: 20px;
    opacity: 0;
    -moz-animation-name: carouselAnimate;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.3s;
    -webkit-animation-name: carouselAnimate;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.3s;
    animation-name: carouselAnimate;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
}

.carousel-text p {
    font-size: 12px;
    color: #ffffff;
    padding: 0 15px;
    margin-top: 20px;
    opacity: 0;
    -moz-animation-name: carouselAnimate;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.3s;
    -webkit-animation-name: carouselAnimate;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.3s;
    animation-name: carouselAnimate;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
}

.carousel-search,
.form-combo {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
}

.carousel-search a,
.search a,
.form-combo a {
    font-size: 11px;
    text-transform: uppercase;
    color: #ee1e26;
    margin-left: 447px;
    position: relative;
    top: 5px;
    text-decoration: none !important;
}

#banner .carousel-search a {
    color: #fff;
}

.search a {
    color: #fff;
}

.carousel-search a .icon,
.search a .icon,
.form-combo a .icon {
    margin-left: 0;
    color: #fff;
}

.search a .icon {
    color: #000;
}

.carousel-search a:hover .icon,
.search a:hover .icon,
.form-combo a:hover,
.form-combo a:hover .icon {
    margin-left: 10px;
}

.carousel-inner>.item:first-child .carousel-text h2,
.carousel-inner>.item:first-child .carousel-text p {
    margin-top: 0;
    opacity: 1;
}

.carousel-search .form-search .btn,
.form-combo .btn {
    padding: 15px 48px 13px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@-moz-keyframes carouselAnimate {
    0% {
        margin-top: 20px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@-webkit-keyframes carouselAnimate {
    0% {
        margin-top: 20px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}

@keyframes carouselAnimate {
    0% {
        margin-top: 20px;
        opacity: 0;
    }
    100% {
        margin-top: 0px;
        opacity: 1;
    }
}


/*BANNER INTERNAS*/

.banner {
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    min-height: 420px;
    text-align: center;
    padding-top: 200px;
}

.banner.novidades {
    min-height: 340px;
}

.banner h2 {
    font-family: 'Alex Brush', cursive;
    margin-top: 0;
    font-size: 88px;
    color: #ffffff;
}

.banner p {
    font-size: 28px;
    color: #ffffff;
    padding: 0 15px;
}


/*SEARCH*/

.form-search label {
    font-size: 14px;
    color: #ffffff;
    margin-right: 10px;
}

.form-search.form-inline .input-group>.form-control {
    font-size: 14px;
    height: 38px;
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.form-search.form-inline .input-group>.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

.form-search .btn {
    color: #fff !important;
    padding: 7px 7px;
    background-color: #ee1e26;
}

.form-search .btn:hover {
    background-color: #911116;
}

.home-nossos-bolos {
    background-color: #feead1;
}


/*HOME*/

.tag {
    margin: 34px auto 42px;
}

.home-nossos-bolos .box-bolo,
.outros-bolos .box-bolo {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.home-nossos-bolos .box-text,
.outros-bolos .box-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+63&0+0,0.78+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.49) 63%, rgba(0, 0, 0, 0.78) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.49) 63%, rgba(0, 0, 0, 0.78) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.49) 63%, rgba(0, 0, 0, 0.78) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#c7000000', GradientType=0);
    /* IE6-9 */
}

.home-nossos-bolos .box-text-content,
.outros-bolos .box-text-content {
    position: relative;
    border: 2px solid #ffffff;
    width: 100%;
    height: 100%;
}

.home-nossos-bolos .box-text-content div,
.outros-bolos .box-text-content div {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 10px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.home-nossos-bolos .box-bolo:hover .box-text-content div,
.outros-bolos .box-bolo:hover .box-text-content div {
    bottom: 70px;
}

.home-nossos-bolos .box-text-content h3,
.outros-bolos .box-text-content h3 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
}

.home-nossos-bolos .box-text-content p,
.outros-bolos .box-text-content p {
    font-size: 12px;
    margin-top: 0;
    line-height: 14px;
}

.home-nossos-bolos .box-bolo:hover .box-text,
.outros-bolos .box-bolo:hover .box-text {
    background-color: rgba(0, 0, 0, 0.1);
}

.home-nossos-bolos .box-bolo img,
.outros-bolos .box-bolo img {
    width: 100%;
}

.home-novidades {
    background-color: #ffffff;
    margin-top: -75px;
}

.home-novidades .tag {
    margin: 75px auto 42px;
}

.home-novidades a {
    color: inherit;
    text-decoration: none !important;
}

.home-novidades .carousel-inner>.item {
    height: auto;
    padding-bottom: 35px;
}

.home-novidades .carousel img {
    border: 2px solid #efb939;
    margin-bottom: 36px;
}

.home-novidades .carousel h4 {
    font-size: 28px;
    font-weight: 700;
    color: #493831;
    margin: 10px 0 5px;
    text-transform: uppercase;
}

.home-novidades .carousel p {
    font-size: 14px;
    font-weight: 400;
    color: #493831;
}

.home-novidades .carousel {
    margin-bottom: 25px;
}

.home-novidades .carousel-indicators li {
    background-color: #f0d19a;
}

.home-novidades .carousel-indicators .active {
    background-color: #efb939;
}

.home-seja-um-franqueado {
    margin-bottom: 100px;
}

.home-seja-um-franqueado .vo-alzira {
    border: 2px solid #ee1c25;
    margin: 0 auto;
    display: block;
}

.home-seja-um-franqueado .item {
    margin-top: -60px;
}

.home-seja-um-franqueado .item.left:last-child {
    margin-top: 26px;
}

.home-seja-um-franqueado .item.right:last-child {
    margin-top: 32px;
}

.home-seja-um-franqueado .btn {
    width: 213px;
    max-width: 100%;
    display: block;
    margin: 30px auto 0;
}


/*FOOTER*/

footer {
    position: relative;
}

footer>div:first-child {
    background-color: #97161b;
}

footer>div:last-child {
    background-color: #ee1e26;
}

footer>div:last-child,
footer>div {
    padding: 10px 0;
}

footer>div:last-child,
footer>div:last-child a {
    color: #ffffff;
    font-size: 13px;
}

footer>div:last-child a {
    float: right;
    text-decoration: none !important;
}

footer>div:last-child a:hover {
    color: rgba(255, 255, 255, 0.5);
}

footer>div:first-child p {
    display: inline-block;
}

footer label {
    font-size: 14px;
    color: #ffffff;
    margin-right: 10px;
    width: 246px;
    position: relative;
    top: 21px;
}

footer form {
    padding: 10px 0 30px;
}

footer.form-inline .input-group>.form-control {
    font-size: 14px;
    height: 36px;
    width: 100%;
    max-width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

footer.form-inline .input-group>.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: none;
}

footer .btn {
    color: #fff !important;
    padding: 7px 7px;
    background-color: #ee1e26;
}

footer .btn:hover {
    background-color: #911116;
}

footer .name .form-control {
    width: 295px;
    border-radius: 3px;
}

footer .form-search.form-inline .input-group.name>.form-control {
    border-radius: 3px;
}


/*MAP*/

.onde-encontrar,
.lojas {
    margin-top: 93px;
}

.onde-encontrar #map {
    width: 100%;
    height: 100%;
}

.onde-encontrar .col-map {
    position: absolute;
    right: 0;
    padding: 0;
}

.onde-encontrar .navbar-default {
    background-color: #ee1e26;
}

.onde-encontrar .col-list-map>.panel {
    margin-top: 30px;
}

.onde-encontrar .col-list-map .panel,
.lojas .panel {
    border-radius: 0;
}

.onde-encontrar .col-list-map .panel-default,
.lojas .panel-default {
    border-color: #dadada;
}

.onde-encontrar .col-list-map li:hover .panel-default,
.onde-encontrar .col-list-map li.active .panel-default,
.lojas li:hover .panel-default,
.lojas li.active .panel-default {
    border-color: #ee1e26;
}

.onde-encontrar .col-list-map .panel-body,
.lojas .panel-body {
    padding: 20px;
}

.onde-encontrar .raio {
    font-size: 16px;
    color: #493831;
}

.onde-encontrar .col-list-map ul,
.lojas ul {
    margin: 0;
    padding: 0;
}

.onde-encontrar .col-list-map li,
.lojasli {
    list-style: none;
}

.onde-encontrar .col-list-map h4,
.lojas h4 {
    font-size: 18px;
    font-weight: 700;
    color: #ee1e26;
    margin: 0 0 18px
}

.onde-encontrar .col-list-map .endereco,
.lojas .endereco {
    margin-top: 20px;
}

.onde-encontrar .col-list-map .telefone,
.onde-encontrar .col-list-map .horario,
.onde-encontrar .col-list-map .endereco,
.lojas .telefone,
.lojas .horario,
.lojas .endereco {
    display: inline-block;
    text-indent: 30px;
    /*height: 23px;*/
}

.onde-encontrar .col-list-map .telefone p,
.onde-encontrar .col-list-map .horario p,
.lojas .telefone p,
.lojas .horario p {
    margin-bottom: 3px;
}

.onde-encontrar .col-list-map .telefone,
.lojas .telefone {
    background: url(../images/icon/phone.png) no-repeat;
    margin-right: 20px;
}

.onde-encontrar .col-list-map .horario,
.lojas .horario {
    background: url(../images/icon/calendar.png) no-repeat;
}

.onde-encontrar .col-list-map .endereco,
.lojas .endereco {
    background: url(../images/icon/pin.png) no-repeat;
}

.onde-encontrar .col-list-map ul,
.lojas ul {
    overflow: hidden;
    overflow-y: auto;
    height: 300px;
    background-color: #ffffff;
}

.onde-encontrar .list-shadow {
    position: relative;
}

.onde-encontrar .col-list-map>.list-shadow {
    margin-top: 15px;
}

.onde-encontrar .list-shadow.top.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
}

.onde-encontrar .list-shadow.bottom.active {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.1+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    /* IE6-9 */
}

.onde-encontrar .col-list-map ul::-webkit-scrollbar-track {
    background-color: #f3f3f3;
}

.onde-encontrar .col-list-map ul::-webkit-scrollbar {
    width: 15px;
    background-color: #f3f3f3;
}


/*MAP*/
.onde-encontrar, .lojas {margin-top: 93px; }
.onde-encontrar #map {width: 100%; height: 100%;}
.onde-encontrar .col-map {position: absolute; right: 0; padding: 0;}
.onde-encontrar .navbar-default {background-color: #ee1e26;}
.onde-encontrar .col-list-map>.panel {margin-top: 30px; }
.onde-encontrar .col-list-map .panel, .lojas .panel {border-radius: 0; }
.onde-encontrar .col-list-map .panel-default, .lojas .panel-default {border-color: #dadada; }
.onde-encontrar .col-list-map li:hover .panel-default,
.onde-encontrar .col-list-map li.active .panel-default, .lojas li:hover .panel-default, .lojas li.active .panel-default {border-color: #ee1e26; }
.onde-encontrar .col-list-map .panel-body, .lojas .panel-body {padding: 20px; }
.onde-encontrar .raio {font-size: 16px; color: #493831; }
.onde-encontrar .col-list-map ul, .lojas ul {margin: 0; padding: 0; }
.onde-encontrar .col-list-map li, .lojasli {list-style: none; }
.onde-encontrar .col-list-map h4, .lojas h4 {font-size: 18px; font-weight: 700; color: #ee1e26; margin: 0 0 18px }
.onde-encontrar .col-list-map .endereco, .lojas .endereco {/*margin-top: 20px;*/}
.onde-encontrar .col-list-map .telefone, .onde-encontrar .col-list-map .horario, .onde-encontrar .col-list-map .endereco, .lojas .telefone, .lojas .horario, .lojas .endereco {display: inline-block; text-indent: 30px; /*height: 23px;*/ width: 100%; }
.onde-encontrar .col-list-map .telefone p,
.onde-encontrar .col-list-map .horario p, .lojas .telefone p, .lojas .horario p {margin-bottom: 3px;}
.onde-encontrar .col-list-map .telefone, .lojas .telefone {background: url(../images/icon/phone.png) no-repeat; margin-right: 20px; }
.onde-encontrar .col-list-map .horario:before, .lojas .horario:before {background: url(../images/icon/calendar.png) no-repeat; }
.onde-encontrar .col-list-map .endereco, .lojas .endereco {background: url(../images/icon/pin.png) no-repeat; }
.onde-encontrar .col-list-map ul, .lojas ul {overflow: hidden; overflow-y: auto; height: 300px; background-color: #ffffff; }
.onde-encontrar .list-shadow {position: relative; }
.onde-encontrar .list-shadow.top.active {position: absolute; top: 0; left: 0; width: 100%; height: 10px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.1+0,0+100 */ background: -moz-linear-gradient(top,  rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom,  rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */ }
.onde-encontrar .list-shadow.bottom.active{position: absolute; bottom: 0; left: 0; width: 100%; height: 10px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.1+100 */ background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=0 ); /* IE6-9 */ }
.onde-encontrar .col-list-map ul::-webkit-scrollbar-track {background-color: #f3f3f3; }
.onde-encontrar .col-list-map ul::-webkit-scrollbar {width: 15px; background-color: #f3f3f3; }
.onde-encontrar .col-list-map ul::-webkit-scrollbar-thumb {background-color: #cccccc; }
.onde-encontrar .search, .lojas .search {background-color: #c61119; padding: 30px; }

.onde-encontrar .col-list-map .horario:before,
.lojas .horario:before{
    content: '';
    display: block;
    width: 23px;
    height: 21px;
    float: left;
    margin-right: 8px;
}
.onde-encontrar .col-list-map .horario span{float: left; text-indent: 0;}
.onde-encontrar .col-list-map ul::-webkit-scrollbar-thumb {
    background-color: #cccccc;
}

.onde-encontrar .search,
.lojas .search {
    background-color: #c61119;
    padding: 30px;
}


/*LOJAS*/

.lojas {
    padding-bottom: 120px;
}

.lojas .filter {
    margin: 50px 0 35px;
}

.lojas h2 {
    font-family: 'Alex Brush', cursive;
    font-size: 88px;
    font-weight: 400;
    color: #493831;
    margin: 0 0 40px;
    text-align: center;
}

.lojas li {
    list-style: none;
}

.lojas li a {
    color: inherit !important;
    text-decoration: none !important;
    display: block;
    cursor: pointer;
}

.lojas ul {
    overflow: inherit;
    height: auto;
}


/*PHOTO*/

.photo {
    position: relative;
    display: block;
    width: 100%;
    height: 220px;
    max-width: 100%;
    margin-bottom: 30px;
    overflow: hidden;
}

.photo-bg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.photo-bg:hover {
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.photo .filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+41,000000+100&0+41,0.74+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.74) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.74) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 41%, rgba(0, 0, 0, 0.74) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bd000000', GradientType=0);
    /* IE6-9 */
}

.photo .content {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    min-height: 40px;
    margin-left: -100px;
}

.photo .content p {
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    text-align: center;
}


/*CONTATO*/

.panel.panel-contato {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 130px 0 80px;
}

.panel.panel-contato .panel-body {
    padding: 40px;
}

.panel.panel-contato {}


/*NEWS*/

.news,
.bolo {
    background-color: #feead1;
    padding: 40px 0;
}

.news.interna,
.interna.bolo {
    padding-bottom: 0;
}

.news.interna .box-info img,
.interna.bolo .box-info img {
    width: 100%;
}

.news .tag,
.bolo .tag {
    margin: 10px auto 50px;
}

.news .prev,
.bolo .prev,
.news .next,
.bolo .next {
    background-color: #ee1e26;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    padding: 24px 7px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.news .prev:hover,
.bolo .prev:hover,
.news .next:hover,
.bolo .next:hover {
    background-color: #911116;
}

.news .prev,
.bolo .prev {
    left: 0;
}

.news .next,
.bolo .next {
    right: 0;
}

.news .prev div,
.bolo .prev div {
    display: inline-block;
    width: 20px;
    height: 38px;
    background-image: url(../images/banner/seta-esquerda.png);
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.news .next div,
.bolo .next div {
    width: 20px;
    height: 38px;
    background-image: url(../images/banner/seta-direita.png);
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}


/*BOX INFO*/

.box-info {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.box-info:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.news.interna .box-info:hover,
.interna.bolo .box-info:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

.news.interna .back img,
.interna.bolo .back img {
    display: inline-block;
    vertical-align: bottom;
}

.news.interna .back,
.interna.bolo .back {
    font-size: 18px;
    margin: 0 0 20px;
    font-weight: 400;
    color: #493831;
    display: block;
}

.box-info .box-text {
    margin-left: -15px;
}

@media (max-width: 768px) {
    .box-info .box-text {
        margin-left: 0px;
    }
}

.box-info {
    color: inherit !important;
    text-decoration: none !important;
}

.box-info a {
    color: inherit;
}

.box-info a:hover {
    text-decoration: none;
}

.box-info .text {
    padding: 5px 0;
}

.box-info img {
    border: 2px solid #efb939;
}

.box-info .text p:nth-of-type(1) {
    color: #ee1e26;
    font-size: 12px;
    margin-bottom: 2px;
}

.news.interna .box-info .text p:nth-of-type(1),
.interna.bolo .box-info .text p:nth-of-type(1) {
    margin: 10px 0;
}

.box-info .text p:nth-of-type(2),
{
    color: #493831;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    line-height: 20px;
}

.box-info .text p:nth-of-type(3),
.news.interna .box-info .text p:nth-of-type(2),
.interna.bolo .box-info .text p:nth-of-type(2) {
    color: #493831;
    font-size: 14px;
    line-height: 20px;
}

.news.interna .box-info .text p,
.interna.bolo .box-info .text p {
    font-weight: 400;
    margin-bottom: 30px;
}

.news .btn,
.bolo .btn {
    margin: 40px 0 70px;
}


/*FRANQUEADO*/

.banner-franqueado {
    padding-top: 93px;
}

.banner-franqueado .btn {
    background-color: #c51118;
    border-color: #c51118;
    margin: 0 0 100px;
}

.banner-franqueado .btn:hover {
    background-color: #97161b;
    border-color: #97161b;
}

.banner-franqueado .panel {
    border-radius: 10px;
    margin: 0 0 60px;
}

.banner-franqueado .panel-body {
    padding: 10px 10px 6px;
    border-radius: 10px;
}

.banner-franqueado iframe {
    height: 345px;
    width: 100%;
}

.banner-franqueado h2 {
    margin-bottom: 50px;
    font-size: 144px;
}

.franqueado-nossa-historia {
    background-color: #efb939;
}

.franqueado-nossa-historia h2 {
    font-family: 'Alex Brush', cursive;
    font-size: 144px;
    font-weight: 400;
    color: #d86127;
    margin: 20px 0;
    text-align: center;
}

.franqueado-nossa-historia .foto {
    padding: 4px;
    border: 1px solid #a70c12;
    margin-bottom: 30px;
}

.franqueado-nossa-historia h6 {
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    line-height: 34px;
    margin-bottom: 50px;
}

.franqueado-nossa-historia p {
    font-size: 16px;
    font-weight: 400;
    color: #a70c12;
    line-height: 22px;
    margin: 0 0 20px;
}


/*DEPOIMENTOS*/

.depoimentos {
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    color: #fff;
}

.depoimentos img {
    border-radius: 50%;
    width: auto;
    max-width: 100%;
    height: auto;
    padding: 4px;
    border: 1px solid #eeb839;
}

.depoimentos p {
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    margin: 15px 0 20px;
}

.depoimentos h5 {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 5px;
}

.depoimentos h6 {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.depoimentos .row-depoimentos {
    margin-top: 70px;
}

.depoimentos .row-depoimentos>[class*="col-"]:first-child {
    border-right: 1px solid #907772;
}

.depo>div {
    float: left;
}

.depo>div:first-child {
    width: 160px;
}

.depo>div:last-child {
    width: 230px;
    margin-left: 30px;
}

.depoimentos .row-depoimentos>[class*="col-"]:last-child .depo {
    float: right;
}


/*FRANQUEADO VANTAGENS*/

.franqueado-vantagens {
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.franqueado-vantagens h2 {
    font-family: 'Alex Brush', cursive;
    font-size: 144px;
    line-height: 144px;
    font-weight: 400;
    color: #f4bc24;
    margin: 20px 0 0;
    text-align: center;
}

.franqueado-vantagens .foto {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    border: 1px solid #a91211;
    padding: 4px;
}

.franqueado-vantagens h3 {
    font-size: 42px;
    font-weight: 400;
    color: #ffffff;
    margin: 30px 0 20px;
}

.franqueado-vantagens h4 {
    font-size: 33px;
    line-height: 44px;
    color: #efb939;
    font-weight: 400;
    text-transform: uppercase;
}

.franqueado-vantagens p {
    font-size: 25px;
    font-weight: 300;
    color: #ffffff;
    margin: 0 0 20px;
    line-height: 30px;
}

.franqueado-vantagens .tag {
    margin: 0 0 20px;
}

.franqueado-vantagens .tag:first-child {
    /*margin-left: -190px;*/
}

.franqueado-vantagens .box-vantagens {
    width: 33.3%;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    padding: 57px 15px;
}

.franqueado-vantagens .box-vantagens:nth-child(4):before,
.franqueado-vantagens .box-vantagens:nth-child(5):before,
.franqueado-vantagens .box-vantagens:nth-child(6):before,
.franqueado-vantagens .box-vantagens:nth-child(7):before,
.franqueado-vantagens .box-vantagens:nth-child(8):before {
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: #e3a66c;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50px;
}

.franqueado-vantagens .box-vantagens:nth-child(4) {
    clear: both;
}

.franqueado-vantagens .box-vantagens:nth-child(1):after,
.franqueado-vantagens .box-vantagens:nth-child(2):after,
.franqueado-vantagens .box-vantagens:nth-child(4):after,
.franqueado-vantagens .box-vantagens:nth-child(5):after,
.franqueado-vantagens .box-vantagens:nth-child(7):after {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    background-color: #e3a66c;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -50px;
}

.franqueado-vantagens .box-vantagens .fa {
    font-size: 70px;
    margin-bottom: 20px;
}

.franqueado-vantagens .col-sm-3 {
    padding-top: 57px;
}

.franqueado-investimento {
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-bottom: 100px;
}

.franqueado-investimento h2 {
    font-family: 'Alex Brush', cursive;
    font-size: 144px;
    line-height: 144px;
    font-weight: 400;
    color: #a37757;
    margin: 20px 0 40px;
    text-align: center;
}

.franqueado-investimento h6 {
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    line-height: 33px;
    margin: 0 0 70px;
}

.franqueado-investimento .box-investimento {
    width: 25%;
    min-height: 150px;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    margin: 0 0 50px;
}

.franqueado-investimento .box-investimento:after {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    background-color: #e3a66c;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -50px;
}

.franqueado-investimento .box-investimento:last-child:after {
    display: none;
}

.franqueado-investimento .box-investimento .fa {
    font-size: 70px;
    margin-bottom: 20px;
}

.franqueado-investimento .box-investimento p {
    max-width: 240px;
    margin: 0 auto;
}

.franqueado-investimento h3 {
    font-size: 40px;
    font-weight: 400;
    color: #ffb300;
    text-transform: uppercase;
    margin: 0 0 40px;
    text-align: center;
}

.franqueado-investimento .tag {
    display: inline-block;
    margin: 8px;
}

.franqueado-investimento .tag:last-child {
    /*margin-bottom: 60px;*/
}

.franqueado-investimento .btn {
    margin: 0 0 50px;
    background-color: #c51118;
    border: 1px solid #fff;
    border-radius: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.franqueado-investimento .btn:hover {
    background-color: #97161b;
}

.franqueado-area-de-interesse {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    background-color: #c6c6c6;
    position: relative;
}

.franqueado-area-de-interesse h2 {
    font-family: 'Alex Brush', cursive;
    font-size: 144px;
    line-height: 144px;
    font-weight: 400;
    color: #9c4141;
    margin: 40px 0 40px;
    text-align: center;
}

.franqueado-area-de-interesse .bottom {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
}

.franqueado-area-de-interesse .bottom p {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    color: #ffffff;
}

.franqueado-area-de-interesse .bottom .btn {
    padding: 18px 12px;
    margin-top: 30px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.quero-ser-um-franqueado {
    background-color: #ff6600;
    padding: 80px 0;
}

.quero-ser-um-franqueado p {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    line-height: 30px;
    margin: 0;
}

.quero-ser-um-franqueado .btn {
    padding: 18px;
    background-color: #c51118;
    border-color: #c51118;
    border-radius: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.quero-ser-um-franqueado .btn:hover {
    background-color: #97161b;
    border-color: #97161b;
}

.obs {
    background-color: #ffb300;
    padding: 30px 0;
}

.obs h4 {
    font-size: 20px;
    font-weight: 700;
    color: #a70c12;
    margin: 0 0 20px;
}

.obs ul {
    margin: 0;
    padding: 0;
}

.obs li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 26px;
}

.obs li:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0da";
    margin-right: 5px;
    color: #a70c12;
}

.bolo.interna .box-info {
    padding: 30px;
}

.bolo.interna .box-info h2 {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    color: #493831;
    line-height: 40px;
    margin: 0 0 40px;
}

.tag-bolo {
    position: relative;
    display: inline-block;
    height: 94px;
    background-color: #ffb71b;
    margin-bottom: 50px;
}

.tag-bolo:before {
    content: "";
    background: url(../images/icon/tag-left.jpg) no-repeat;
    display: inline-block;
    width: 42px;
    height: 94px;
    position: relative;
    z-index: 2;
}

.tag-bolo:after {
    content: "";
    background: url(../images/icon/tag-right.jpg) no-repeat;
    display: inline-block;
    width: 42px;
    height: 94px;
    position: relative;
    z-index: 2;
}

.tag-bolo p {
font-family: 'Alex Brush', cursive;
    font-size: 60px;
    font-weight: 400;
    color: #a80c12;
    margin: 0;
    display: inherit;
    height: inherit;
    position: relative;
    top: inherit;
    padding: 0 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
    line-height: 98px;
}

.tag-bolo span {
    display: inline-block;
    background-color: #a80c12;
    position: absolute;
    left: 0;
    width: 100%;
}

.tag-bolo span:nth-child(1) {
    top: 0;
    height: 3px;
}

.tag-bolo span:nth-child(2) {
    top: 9px;
    height: 2px;
}

.tag-bolo span:nth-child(4) {
    bottom: 9px;
    height: 2px;
}

.tag-bolo span:nth-child(5) {
    bottom: 0;
    height: 3px;
}

.tabela-nutricional h2 {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #ffffff !important;
    font-style: normal !important;
    margin: 0 !important;
    background-color: #8e1419;
    text-align: center;
}

.tabela-nutricional p {
    font-size: 11px;
    font-weight: 400;
    color: #493831;
    line-height: 14px;
    margin: 0 0 14px;
}

.tabela-nutricional table {
    width: 100%;
    margin-bottom: 12px;
}

.tabela-nutricional table thead th {
    font-size: 12px;
    font-weight: 800;
    color: #493831;
    text-transform: uppercase;
    padding: 12px 0;
    text-align: center;
}

.tabela-nutricional table tbody td {
    text-align: center;
    padding: 3px 0;
}

.tabela-nutricional table tbody td:first-child {
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    color: #493831;
    padding-left: 30px;
}

.tabela-nutricional table tbody td b {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.tabela-nutricional table tbody tr:nth-child(odd) {
    background-color: #feead1;
}

.ingredientes {
    background-color: #feead1;
    padding: 30px;
    font-size: 12px;
    font-weight: 400;
    color: #493831;
    margin: 0 0 70px;
}

.ingredientes b {
    text-transform: uppercase;
}

.ingredientes h6 {
    margin: 10px 0 0;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #cc2229;
}

.form-combo {
    position: relative;
    top: inherit;
    bottom: inherit;
    background-color: inherit;
}

.form-combo .form-search label {
    font-size: 20px;
    font-weight: 700;
    color: #493831;
}

.form-combo .form-search.form-inline .input-group>.form-control {
    border: 1px solid #dadada;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.form-combo .form-search .btn {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    padding: 11px 40px 12px;
    margin: 0;
    border-radius: 0;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.form-combo .form-search.form-inline .input-group>.form-control {
    /*width: 170px;*/
}

.form-combo a {
    font-size: 11px;
    font-weight: 400;
    color: #cc2229 !important;
    margin: 0;
    display: block;
    /*margin-left: -363px !important;*/
    position: relative;
    top: 10px;
}

.form-combo a .icon {
    font-size: 15px;
    color: #493831;
    position: relative;
    left: 0;
    top: 3px;
}

.form-combo a:hover .icon {
    margin-left: 0 !important;
    left: 10px;
}

.bolo.interna .form-combo {
    margin-bottom: 20px;
}

.outros-bolos {
    background-color: #feead1;
    padding-bottom: 90px;
}

.outros-bolos .box-outros-bolos img {
    margin-bottom: 30px;
    width: 100%;
}


/*http://www.minimit.com/articles/solutions-tutorials/bootstrap-3-responsive-columns-of-same-height*/


/* USAGE
<div class="row">
  <div class="row-height">
    <div class="col-xs-2 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
    <div class="col-xs-4 col-lg-5 col-xs-height col-xs-middle">
      <div class="inside"></div>
    </div>
  </div>
</div>
*/


/* content styles */

.inside {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
    background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
    background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}

.inside-full-height {
    /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
}


/* columns of same height styles */

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.col-height {
    display: table-cell;
    float: none;
    height: 100%;
}

.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

@media (min-width: 480px) {
    .row-xs-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-xs-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-xs-top {
        vertical-align: top;
    }
    .col-xs-middle {
        vertical-align: middle;
    }
    .col-xs-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 768px) {
    .row-sm-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-sm-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-sm-top {
        vertical-align: top;
    }
    .col-sm-middle {
        vertical-align: middle;
    }
    .col-sm-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 992px) {
    .row-md-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-md-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-md-top {
        vertical-align: top;
    }
    .col-md-middle {
        vertical-align: middle;
    }
    .col-md-bottom {
        vertical-align: bottom;
    }
}

@media (min-width: 1200px) {
    .row-lg-height {
        display: table;
        table-layout: fixed;
        height: 100%;
        width: 100%;
    }
    .col-lg-height {
        display: table-cell;
        float: none;
        height: 100%;
    }
    .col-lg-top {
        vertical-align: top;
    }
    .col-lg-middle {
        vertical-align: middle;
    }
    .col-lg-bottom {
        vertical-align: bottom;
    }
}

.box-outros-bolos .bx-wrapper .bx-viewport {
    border: none;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.box-outros-bolos .bx-wrapper .bx-pager {
    display: none;
}


/*.paginate-row {display: none;}*/

#seja-um-franqueado {
    padding-bottom: 70px;
}

#seja-um-franqueado h2 {
    font-size: 150px;
    margin-bottom: 40px;
}

#seja-um-franqueado h3 {
    font-size: 45px;
    font-weight: 600;
    color: #f4bc24;
    margin-bottom: 60px;
}

#seja-um-franqueado .itens .item {
    background-color: rgba(197, 17, 24, 0.7);
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 50%;
    margin: 0 auto;
}

#seja-um-franqueado .itens .item .fa {
    font-size: 65px;
    color: #fff;
    line-height: 150px;
}

#seja-um-franqueado .itens .item .fa.fa-arrow-circle-down {
    font-size: 35px;
    line-height: 35px;
    vertical-align: text-top;
}

#seja-um-franqueado .itens .item + div {
    min-height: 84px;
    position: relative;
    margin-top: 25px;
}

#seja-um-franqueado .itens .item + div span {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.numero-de-lojas {
    background-image: url(../images/tag/numero-de-lojas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 258px;
    height: 166px;
    position: relative;
    float: left;
}

.numero-de-lojas .content {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.numero-de-lojas span {
    display: block;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 26px;
}

.numero-de-lojas span:nth-child(2) {
    font-size: 57px;
    line-height: 57px;
}

.numero-de-lojas + .luva {
    float: left;
}

.franqueado-nossa-historia .numero-de-lojas + .luva {
    margin: 33px 23px;
}

.tag-circle {
    width: 255px;
    max-width: 100%;
    height: 255px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin-bottom: 30px;
}

.tag-circle .top {
    height: 60%;
    background-color: #a70c12;
    position: relative;
}

.tag-circle .bottom {
    height: 40%;
    background-color: #fff;
    position: relative;
}

.tag-circle .top>div,
.tag-circle .bottom>div {
    padding: 40px;
}

.tag-circle .top>div,
.tag-circle .bottom>div {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.tag-circle .top span:nth-child(1) {
    font-size: 73px;
    font-weight: 800;
    color: #ffffff;
    line-height: 73px;
    display: block;
}

.tag-circle .top span:nth-child(2) {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    line-height: 26px;
    display: block;
    text-transform: uppercase;
}

.tag-circle .top span:nth-child(3) {
    font-size: 12px;
    color: #fff;
    line-height: 14px;
    display: block;
    font-style: italic;
}

.tag-circle .bottom span {
    text-transform: uppercase;
    font-size: 18px;
    color: #a70c12;
    font-weight: 600;
}


.wpcf7-validation-errors {
    color: #a94442 !important;
    background-color: #f2dede !important;
    border-color: #ebccd1 !important;
        padding: 15px !important;
    margin-bottom: 20px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;    
}

.wpcf7-mail-sent-ok {
    color: #3c763d !important;
    background-color: #dff0d8 !important;
    border-color: #d6e9c6 !important;
    padding: 15px !important;
    margin-bottom: 20px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
}

#dp_swf_engine {
    bottom: 0 !important;
}



section#lojas .horario,
section#lojas .horario * {
    display: block !important;
    width: 100% !important;
    max-width: 100% !important;
}